<!-- Add proxy from -->
<form id="proxyFrom" style="margin-bottom: 3%;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Proxy fromat</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>ip:port:login:password</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Group</label>
                    <select class="form-control" id="groupAddModal">
                        @for(group of proxyGroups; track $index){
                        <option [value]="group">
                            {{group}}
                        </option>
                        }
                    </select>
                </div>
            </div>
            <div class="col">
                <proxy-group></proxy-group>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Proxy</label>
        <textarea [(ngModel)]="proxyData" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" (click)="AddProxy()">Add</button>
</form>
<div id="successNot" class="alert alert-success" role="alert">Success</div>
<div id="errorNot" class="alert alert-danger" role="alert">Error</div>

<!-- Gen table -->
<table datatable [dtOptions]="dtOptions" class="row-border hover" id="proxyTable"></table>

<!-- Modal -->
<div class="modal fade" id="proxyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit proxy</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Id</label>
                    <input type="text" class="form-control" id="idModal" placeholder="127.0.0.1" disabled>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Ip</label>
                    <input type="text" class="form-control" id="ipModal" placeholder="127.0.0.1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Port</label>
                    <input type="text" class="form-control" id="portModal" placeholder="80">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Login</label>
                    <input type="text" class="form-control" id="loginModal" placeholder="proxyLogin">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="text" class="form-control" id="passwordModal" placeholder="proxyPassword">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Group</label>
                    <select class="form-control" id="groupUpdateModal">
                        @for(group of proxyGroups; track $index){
                        <option [value]="group">
                            {{group}}
                        </option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Status</label>
                    <select class="form-control" id="groupUpdateStatusModal" disabled>
                        <option>
                            Free
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="UpdateProxy()">Update</button>
            </div>
        </div>
    </div>
</div>