<div class="container">
    <div class="row mb-3">
        <div class="col-6">
            <label class="form-label">Posting resources</label>
            <select class="form-control" id="selectResourses" [(ngModel)]="postingResourses"> 
                <option>By cloning information</option>
                <option>By default post group</option>
            </select>
        </div>
        <div class="col" *ngIf="postingResourses == 'By cloning information'">
            <label class="form-label">Clon group</label>
            <select class="form-control" id="selectClonName">
                <option *ngFor="let item of clonGroupNames">{{item}}</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Account Group</label>
            <select-account-group></select-account-group>
        </div>
        <div class="col">
            <label class="form-label">Proxy Group</label>
            <select-proxy-group></select-proxy-group>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Number of published posts per 1 account</label>
            <input type="number" class="form-control" [(ngModel)]="postPerAccount">
        </div>
        <div class="col">
            <label class="form-label">Task name</label>
            <input type="text" class="form-control" [(ngModel)]="taskName">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-3" (click)="AddTask()">Submit</button>
    <div id="successNot" class="alert alert-success" role="alert">Success</div>
    <div id="errorNot" class="alert alert-danger" role="alert">Error</div>
</div>