<!-- Gen table -->
<table datatable [dtOptions]="dtOptions" class="row-border hover" id="TaskTable"></table>

<!-- Modal -->
<!-- <div class="modal fade" id="TaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit SMS Service</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Id</label>
                    <input type="text" class="form-control" id="idModal" placeholder="id" disabled>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">API Key</label>
                    <input type="text" class="form-control" id="apikeyModal" placeholder="apikey">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="UpdateTask()">Update</button>
            </div>
        </div>
    </div>
</div> -->