<div class="container">
    <div class="row">
        <div class="col-4">
            <label>Post Image</label>
            <img class="img-fluid img-thumbnail" alt="Responsive image" src="{{postData.ImagePath}}" id="uploadedImage">
            <div class="mt-1" id="loadImageEl">
                <input class="form-control" type="file" [(ngModel)]="data" (ngModelChange)="UpdateImage()">
            </div>
            <label class="mt-2">Description</label>
            <textarea class="form-control" id="inputDescription" [(ngModel)]="postData.Description"></textarea>
        </div>
        <div class="col-8">
            <div class="container">
                <div class="form-control mb-5">
                    <h5 class="mb-1">Technical data</h5>
                    <div class="row">
                        <div class="col">
                            <label>Post URI</label>
                            <input class="form-control" disabled [(ngModel)]="postData.PostURI">
                        </div>
                        <div class="col">
                            <label>ImagePath</label>
                            <input class="form-control" disabled [(ngModel)]="postData.ImagePath">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Status</label>
                            <!-- TODO сделать нормальное отображение как и в post group, проверить нужно ли это вообще -->
                            <select class="form-control" [(ngModel)]="postData.PostStatus"> 
                                <option>Active</option>
                                <option>Inactive</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Post Group</label>
                            <select *ngIf="this.postId == undefined" class="form-control" id="selectPostGroup">
                                <option *ngFor="let group of postGroupList">{{group}}</option>
                            </select>
                            <select *ngIf="this.postId != undefined" class="form-control" id="selectPostGroup">
                                <option>{{postData.PostGroupName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Post name</label>
                            <input type="text" class="form-control" [(ngModel)]="postData.Name"
                                placeholder="customer-melina_case-12" id="inputPostName">
                        </div>
                        <div class="col">
                            <label>Comment Group</label>
                            <select *ngIf="this.postId == undefined" class="form-control" id="selectCommentGroup">
                                <option *ngFor="let group of commentGroupList">{{group}}</option>
                            </select>
                            <select *ngIf="this.postId != undefined" class="form-control" id="selectCommentGroup">
                                <option>{{postData.CommentGroupName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-control">
                    <h5 class="mb-1">Quantitative indicators</h5>
                    <div class="row">
                        <div class="col">
                            <label>Required likes</label>
                            <input class="form-control" type="number" [(ngModel)]="postData.RequiredCountLikes">
                        </div>
                        <div class="col">
                            <label>Required comments</label>
                            <input class="form-control" type="number" [(ngModel)]="postData.RequiredCountComments">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <button type="button" class="btn btn-primary" id="addPostBtn" (click)="AddPost()">Add post</button>
        <button type="button" class="btn btn-primary" id="updatePostBtn" (click)="UpdatePost()">Update post</button>
    </div>


    <div id="successNot" class="alert alert-success" role="alert">Success</div>
    <div id="errorNot" class="alert alert-danger" role="alert">Error</div>
</div>