<!-- Add SMS Service from -->
<form id="smsserviceForm" style="margin-bottom: 3%;">
    <div class="form-group">
        <div class="container">
            <div class="row">
                <div class="col">
                    <label for="serviceName" class="form-label">Service Name</label>
                    <input [(ngModel)]="smsServiceName" type="text" class="form-control" id="serviceName"
                        placeholder="smsactivate-ru-for-test">
                </div>
                <div class="col">
                    <label for="serviceName" class="form-label">SMS Service</label>
                    <select [(ngModel)]="smsServiceType" name="smsservice" id="smsservice" class="form-control">
                        <option>SMSActivate</option>
                        <option>FiveSIM</option>
                    </select>
                </div>
                <div class="col">
                    <div *ngIf="smsServiceType == 'SMSActivate'">
                        <label for="country" class="form-label">Country</label>
                        <input [(ngModel)]="smsServiceCountry" type="number" class="form-control" id="serviceName"
                            placeholder="1">
                    </div>
                    <div *ngIf="smsServiceType == 'FiveSIM'">
                        <label for="country" class="form-label">Country</label>
                        <input [(ngModel)]="smsServiceCountry" type="text" class="form-control" id="serviceName"
                            placeholder="russia">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="apiKey" class="form-label">API Key</label>
                    <input [(ngModel)]="smsServiceApiKey" type="text" class="form-control" id="serviceName"
                        placeholder="service-api_key">
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" (click)="AddSMSService()">Add</button>
</form>
<div id="successNot" class="alert alert-success" role="alert">Success</div>
<div id="errorNot" class="alert alert-danger" role="alert">Error</div>

<!-- Gen table -->
<table datatable [dtOptions]="dtOptions" class="row-border hover" id="smsserviceTable"></table>

<!-- Modal -->
<div class="modal fade" id="smsserviceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit SMS Service</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Id</label>
                    <input type="text" class="form-control" id="idModal" placeholder="id" disabled>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Service Name</label>
                    <input type="text" class="form-control" id="servicenameModal" placeholder="SMS Activate">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Service Type</label>
                    <select id="servicetypeModal" class="form-control">
                        <option>SMSActivate</option>
                        <option>FiveSIM</option>
                    </select>
                </div>
                <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Country</label>
                        <input type="text" class="form-control" id="servicecountryModal" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">API Key</label>
                    <input type="text" class="form-control" id="apikeyModal" placeholder="apikey">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="UpdateSMSService()">Update</button>
            </div>
        </div>
    </div>
</div>