<!-- Add SMS Service from -->
<form id="smsserviceForm" style="margin-bottom: 3%;">
    <div class="form-group">
        <label for="exampleFormControlSelect1">SMS Service fromat</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>ServiceName:APIURI:APIKEY</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">SMS Service</label>
        <textarea [(ngModel)]="smsserviceData" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" (click)="AddSMSService()">Add</button>
</form>
<div id="successNot" class="alert alert-success" role="alert">Success</div>
<div id="errorNot" class="alert alert-danger" role="alert">Error</div>

<!-- Gen table -->
<table datatable [dtOptions]="dtOptions" class="row-border hover" id="smsserviceTable"></table>

<!-- Modal -->
<div class="modal fade" id="smsserviceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit SMS Service</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Id</label>
                    <input type="text" class="form-control" id="idModal" placeholder="id" disabled>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Service Name</label>
                    <input type="text" class="form-control" id="servicenameModal" placeholder="SMS Activate">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">API URI</label>
                    <input type="text" class="form-control" id="apiuriModal" placeholder="127.0.0.1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">API Key</label>
                    <input type="text" class="form-control" id="apikeyModal" placeholder="apikey">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="UpdateSMSService()">Update</button>
            </div>
        </div>
    </div>
</div>